<ion-view title="Add GPX/KML">

  <ion-content>
    <div class="list">
            
	    <div class="item item-divider"> 
	      Select your file type
	    </div>
	    
	    <ion-radio ng-repeat="item in vm.type" ng-value="item.value" ng-model="vm.selectedType" name="type">
	    {{ item.text }}
	    </ion-radio>

	    <div class="item item-divider"> 
	      Import from
	    </div>
	    
	    <ion-radio ng-repeat="item in vm.source" ng-value="item.value" ng-model="vm.selectedSource" name="source">
	    {{ item.text }}
	    </ion-radio>

	    <form novalidate>
        <label class="item item-input item-stacked-label">
          	<span class="input-label">URL</span>
            <input type="url" placeholder="URL here" ng-model="url">
        </label>
	    
	    <button class="button button-block button-positive" ng-click="vm.importButton(url)">
	      Add
	    </button>
	</div>
  </ion-content>
</ion-view>